.card{
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10rem;
    float: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card-title{
    font-family:'Outfit', sans-serif;
    font-weight: 400, 700;
    font-size: 20px !important;
}
.card-text{
    font-size: 15px;
    color: hsl(212, 45%, 89%);
}
.card-img-top{
   width: 90% !important;
   margin-top: 12px;
}